@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300..600&display=swap');

:root {
    --none: transparent;
    --standart-background: rgb(255, 255, 255);
    --outline-white: rgb(255, 255, 255);
    --outline-black: rgb(0, 0, 0);
    --dark-button: rgb(30, 30, 30);
    --color-30: rgb(30, 30, 30);
    --color-60: rgb(60, 60, 60);
    --color-255: rgb(255, 255, 255);
    --color-green: rgb(66, 94, 68);
    --context-menu: rgb(255, 255, 255);
    --context-menu-border: rgb(200, 200, 200);
    --context-menu-button: transparent;
    --header-image: url(../img/background/background.png) no-repeat center/cover;
    --footer-border: rgba(30, 30, 30, .1);
    --email: rgb(255, 255, 255);
    --email-border: rgb(225, 225, 225);
    --email-input-color: rgb(30, 30, 30);
    --email-button: rgb(225, 225, 225);

}
